<header>
    <a class="header-logo" href="/" >STAMP APP</a>
    <p>ようこそ、<%= locals.username %>さん</p>
    <ul>
        <!--<a href="/signup">新規登録</a>-->
        <% if (locals.isLoggedIn) { %>
            <a href="/logout">ログアウト</a>
        <% } else { %>
            <a href="/login">ログイン</a>
        <% } %>
    </ul>
</header>