<header>
    <a class="header-logo" href="/" >STAMP APP</a>
    <p>ようこそ、<%= locals.username %>さん</p>
    <% if (locals.isLoggedIn) { %>
        <a href="/logout">ログアウト</a>
    <% } else { %>
        <a href="/login">ログイン</a>
    <% } %>
</header>