<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>STAMP APP</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <div class="top-wrapper">
      <div class="top-detail">
        <h2 class="subtitle">勤怠管理アプリ</h2>
        <h1 class="title">STAMP APP</h1>
        <p class="description">
          STAMP APPは、勤怠管理を行うサービスです。
          <br>
          日々の勤務時間を記録してみましょう。
        </p>
        <a href="/record" class="record-button">記録する</a>
      </div>
      <div class="top-image">
        
      </div>
    </div>
  </body>
</html>