#current_time {
    text-align: center;
    height: 120px;
    width: 242px;
    border: 1px solid #333;
    float: left;
    margin-top: 10px;
}

#current_state {
    text-align: center;
    height: 120px;
    width: 242px;
    border: 1px solid #333;
    float: left;
    margin-top: 10px;
}


.stamp_wrapper {
    clear: left;
}

.stamp {
    text-align: center;
    cursor: pointer;
    height: 60px;
    width: 120px;
    border: 1px solid #333;
    float: left;
    margin-top: 10px
}


